<!DOCTYPE html>
<html>

<head>
    <title>Descargar app Dodo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div>
            <h1>Dodo APK</h1>
            <a class="download" href="https://drive.google.com/file/d/11rkArDefV9DvZ_Tmsw0Oa4_j9LBBCorP/view"></a>
        </div>
    </div>
</body>

</html>